<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>PaymentFilter</filter-name>
        <filter-class>Filter.PaymentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ErrorHandlingFilter</filter-name>
        <filter-class>Filter.ErrorHandlingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>Filter.CustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HotelHostFilter</filter-name>
        <filter-class>Filter.HotelHostFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerAndHotelHostFilter</filter-name>
        <filter-class>Filter.CustomerAndHotelHostFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UnauthorizedJSP</filter-name>
        <filter-class>Filter.UnauthorizedJSP</filter-class>
    </filter>
    <filter>
        <filter-name>AllRoleFilter</filter-name>
        <filter-class>Filter.AllRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorHandlingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PaymentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UnauthorizedJSP</filter-name>
        <url-pattern>/Admin_Header.jsp</url-pattern>
        <url-pattern>/Admin_Sidebar.jsp</url-pattern>
        <url-pattern>/ExportBill.jsp</url-pattern>
        <url-pattern>/Footer.jsp</url-pattern>
        <url-pattern>/Header.jsp</url-pattern>
        <url-pattern>/Header_HotelHost.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AllRoleFilter</filter-name>
        <url-pattern>/Chat.jsp</url-pattern>
        <url-pattern>/ChatServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/CancelBookingSuccess.jsp</url-pattern>
        <url-pattern>/CancelPaymentSuccess.jsp</url-pattern>
        <url-pattern>/Cancel_Transaction.jsp</url-pattern>
        <url-pattern>/Checkout.jsp</url-pattern>
        <url-pattern>/CreateFeedback.jsp</url-pattern>
        <url-pattern>/Favorite_Hotel.jsp</url-pattern>
        <url-pattern>/MyFeedback.jsp</url-pattern>
        <url-pattern>/My_Account_Change.jsp</url-pattern>
        <url-pattern>/My_Account_Update.jsp</url-pattern>
        <url-pattern>/My_Bill_Payment.jsp</url-pattern>
        <url-pattern>/My_Card_Payment_History.jsp</url-pattern>
        <url-pattern>/NotPaid_Transaction.jsp</url-pattern>
        <url-pattern>/Paid_Transaction.jsp</url-pattern>
        <url-pattern>/Processing_Transaction.jsp</url-pattern>
        <url-pattern>/ReportFeedback.jsp</url-pattern>
        <url-pattern>/ReturnPaymentSuccess.jsp</url-pattern>
        <url-pattern>/View_Avatar.jsp</url-pattern>
        <url-pattern>/All_Hotel_Service</url-pattern>
        <url-pattern>/CancelBookingServlet</url-pattern>
        <url-pattern>/CancelPaymentServlet</url-pattern>
        <url-pattern>/Cancel_Hotel_Service</url-pattern>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/DeleteFeedbackServlet</url-pattern>
        <url-pattern>/ListFavoriteHotel</url-pattern>
        <url-pattern>/MyBillPaymentServlet</url-pattern>
        <url-pattern>/MyFeedbackServlet</url-pattern>
        <url-pattern>/NotPaid_Hotel_Service</url-pattern>
        <url-pattern>/NotYet_Hotel_Service</url-pattern>
        <url-pattern>/Paid_Hotel_Service</url-pattern>
        <url-pattern>/PaymentServlet</url-pattern>
        <url-pattern>/ReactFeedbackServlet</url-pattern>
        <url-pattern>/ReportFeedbackServlet</url-pattern>
        <url-pattern>/ReturnPaymentServlet</url-pattern>
        <url-pattern>/SubmitFeedbackServlet</url-pattern>
        <url-pattern>/UpdateFeedbackServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HotelHostFilter</filter-name>
        <url-pattern>/AddService.jsp</url-pattern>
        <url-pattern>/Form_Service.jsp</url-pattern>
        <url-pattern>/HotelHost_AddHotel.jsp</url-pattern>
        <url-pattern>/HotelHost_BedInformation.jsp</url-pattern>
        <url-pattern>/HotelHost_BookingBill.jsp</url-pattern>
        <url-pattern>/HotelHost_BookingBillDetail.jsp</url-pattern>
        <url-pattern>/HotelHost_BookingSchedule.jsp</url-pattern>
        <url-pattern>/HotelHost_BookingScheduleDetail.jsp</url-pattern>
        <url-pattern>/HotelHost_ChangePassword.jsp</url-pattern>
        <url-pattern>/HotelHost_CreateHotel.jsp</url-pattern>
        <url-pattern>/HotelHost_DashBoard.jsp</url-pattern>
        <url-pattern>/HotelHost_Feedback.jsp</url-pattern>
        <url-pattern>/HotelHost_HotelInformation.jsp</url-pattern>
        <url-pattern>/HotelHost_HotelService.jsp</url-pattern>
        <url-pattern>/HotelHost_Hotel_Image.jsp</url-pattern>
        <url-pattern>/HotelHost_MonthlyPayment.jsp</url-pattern>
        <url-pattern>/HotelHost_OfflineBooking.jsp</url-pattern>
        <url-pattern>/HotelHost_Profile.jsp</url-pattern>
        <url-pattern>/HotelHost_RoomImage.jsp</url-pattern>
        <url-pattern>/HotelHost_RoomInformation.jsp</url-pattern>
        <url-pattern>/HotelHost_UpdateHotelInformation.jsp</url-pattern>
        <url-pattern>/HotelHost_ViewAvatar.jsp</url-pattern>
        <url-pattern>/HotelHost_ViewHotelInformation.jsp</url-pattern>
        <url-pattern>/AddServiceServlet</url-pattern>
        <url-pattern>/DashboardServlet</url-pattern>
        <url-pattern>/DeleteServiceServlet</url-pattern>
        <url-pattern>/HotelHostHotelServiceServlet</url-pattern>
        <url-pattern>/HotelHostMonthlyPaymentServlet</url-pattern>
        <url-pattern>/HotelHost_AddHotelServlet</url-pattern>
        <url-pattern>/HotelHost_BookingHistoryBillDetailServlet</url-pattern>
        <url-pattern>/HotelHost_BookingHistoryBillServlet</url-pattern>
        <url-pattern>/HotelHost_BookingScheduleServlet</url-pattern>
        <url-pattern>/HotelHost_DeleteHotelImageServlet</url-pattern>
        <url-pattern>/HotelHost_DeleteHotelServlet</url-pattern>
        <url-pattern>/HotelHost_FeedbackServlet</url-pattern>
        <url-pattern>/HotelHost_SearchAvailableServlet</url-pattern>
        <url-pattern>/HotelHost_UpdateHotelServlet</url-pattern>
        <url-pattern>/HotelHost_ViewHotelImgServlet</url-pattern>
        <url-pattern>/HotelHost_ViewHotelInformationServlet</url-pattern>
        <url-pattern>/InsertOfflineBookingServlet</url-pattern>
        <url-pattern>/OfflineBookingServlet</url-pattern>
        <url-pattern>/UpdateHotelBedServlet</url-pattern>
        <url-pattern>/UpdateHotelInformationServlet</url-pattern>
        <url-pattern>/UpdateHotelRoomServlet</url-pattern>
        <url-pattern>/UpdateImageRoom</url-pattern>
        <url-pattern>/UpdateServiceServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerAndHotelHostFilter</filter-name>
        <url-pattern>/ViewFeedbackReservationID.jsp</url-pattern>
        <url-pattern>/ChangeAccountPasswordServlet</url-pattern>
        <url-pattern>/ExportBillServlet</url-pattern>
        <url-pattern>/UpdateAccountServlet</url-pattern>
        <url-pattern>/UpdateAvatar</url-pattern>
        <url-pattern>/UploadImageAvatar</url-pattern>
        <url-pattern>/ViewFeedbackReservationIDServlet</url-pattern>
        <url-pattern>/ViewFeedbackReservationIDServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Admin_Customer_Information.jsp</url-pattern>
        <url-pattern>/Admin_Customer_List.jsp</url-pattern>
        <url-pattern>/Admin_Dashboard.jsp</url-pattern>
        <url-pattern>/Admin_Hotel_Information.jsp</url-pattern>
        <url-pattern>/Admin_Hotel_Partner.jsp</url-pattern>
        <url-pattern>/Admin_MonthlyPayment.jsp</url-pattern>
        <url-pattern>/Admin_Pending_Hotel.jsp</url-pattern>
        <url-pattern>/Admin_ReportFeedback.jsp</url-pattern>
        <url-pattern>/Admin_ReportFeedbackDetail.jsp</url-pattern>
        <url-pattern>/AdminAcceptPendingServlet</url-pattern>
        <url-pattern>/AdminCustomerInformationServlet</url-pattern>
        <url-pattern>/AdminCustomerListServlet</url-pattern>
        <url-pattern>/AdminDashBoardServlet</url-pattern>
        <url-pattern>/AdminHotelInformationServlet</url-pattern>
        <url-pattern>/AdminHotelPartnerServlet</url-pattern>
        <url-pattern>/AdminLockCustomerServlet</url-pattern>
        <url-pattern>/AdminLockHotelServlet</url-pattern>
        <url-pattern>/AdminMonthlyPaymentServlet</url-pattern>
        <url-pattern>/Admin_ViewReportFeedback</url-pattern>
        <url-pattern>/Admin_ViewReportFeedbackDetail</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UploadImageAvatar</servlet-name>
        <servlet-class>com.travelink.Servlet.UploadImageAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatar</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountPasswordServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ChangeAccountPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>com.travelink.Servlet.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccountServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.LoginAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewHotelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.SearchHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotelDetailServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewHotelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotel</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoom</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.Cancel_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotPaid_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.NotPaid_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paid_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.Paid_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.All_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFavoriteHotel</servlet-name>
        <servlet-class>com.travelink.Servlet.ListFavoriteHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelPaymentServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.CancelPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnPaymentServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ReturnPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.PromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.DeleteFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReactFeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ReactFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBillPaymentServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.MyBillPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeCustomerServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HomeCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.SubmitFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportBillServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ExportBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHostHotelServiceServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHostHotelServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfflineBookingServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.OfflineBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.MyFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotYet_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.NotYet_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHotelRoomServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateHotelRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHotelInformationServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateHotelInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHotelBedServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateHotelBedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOfflineBookingServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.InsertOfflineBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_BookingHistoryBillDetailServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_BookingHistoryBillDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_BookingHistoryBillServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_BookingHistoryBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_FeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoardServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackReservationIDServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewFeedbackReservationIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAcceptPendingServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminAcceptPendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImageRoom</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateImageRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportFeedbackServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ReportFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ViewReportFeedback</servlet-name>
        <servlet-class>com.travelink.Servlet.Admin_ViewReportFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ViewReportFeedbackDetail</servlet-name>
        <servlet-class>com.travelink.Servlet.Admin_ViewReportFeedbackDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeHotelHostServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.homeHotelHostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_AddHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_AddHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHotelPartnerServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminHotelPartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomerListServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminCustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomerInformationServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminCustomerInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHotelInformationServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminHotelInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLockCustomerServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminLockCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_BookingScheduleServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_BookingScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_SearchAvailableServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_SearchAvailableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_UpdateHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_UpdateHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_DeleteHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_DeleteHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_ViewHotelImgServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_ViewHotelImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_DeleteHotelImageServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_DeleteHotelImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_AddHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_AddHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLockHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminLockHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_ViewHotelInformationServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_ViewHotelInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMonthlyPaymentServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminMonthlyPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHostMonthlyPaymentServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHostMonthlyPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_DeleteRoomImageServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_DeleteRoomImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelHost_AddWardServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.HotelHost_AddWardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRefundingReservationServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.AdminRefundingReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageAvatar</servlet-name>
        <url-pattern>/UploadImageAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatar</servlet-name>
        <url-pattern>/UpdateAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountPasswordServlet</servlet-name>
        <url-pattern>/ChangeAccountPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/RegisterAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccountServlet</servlet-name>
        <url-pattern>/LoginAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHotelServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHotelDetailServlet</servlet-name>
        <url-pattern>/viewHotelDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHotel</servlet-name>
        <url-pattern>/viewHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoom</servlet-name>
        <url-pattern>/viewRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_Hotel_Service</servlet-name>
        <url-pattern>/Cancel_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotPaid_Hotel_Service</servlet-name>
        <url-pattern>/NotPaid_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paid_Hotel_Service</servlet-name>
        <url-pattern>/Paid_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All_Hotel_Service</servlet-name>
        <url-pattern>/All_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFavoriteHotel</servlet-name>
        <url-pattern>/ListFavoriteHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelPaymentServlet</servlet-name>
        <url-pattern>/CancelPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnPaymentServlet</servlet-name>
        <url-pattern>/ReturnPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionServlet</servlet-name>
        <url-pattern>/PromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackServlet</servlet-name>
        <url-pattern>/UpdateFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <url-pattern>/DeleteFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReactFeedbackServlet</servlet-name>
        <url-pattern>/ReactFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/CancelBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBillPaymentServlet</servlet-name>
        <url-pattern>/MyBillPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeCustomerServlet</servlet-name>
        <url-pattern>/homeCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <url-pattern>/SubmitFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportBillServlet</servlet-name>
        <url-pattern>/ExportBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHostHotelServiceServlet</servlet-name>
        <url-pattern>/HotelHostHotelServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <url-pattern>/UpdateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceServlet</servlet-name>
        <url-pattern>/AddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/DeleteServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfflineBookingServlet</servlet-name>
        <url-pattern>/OfflineBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyFeedbackServlet</servlet-name>
        <url-pattern>/MyFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotYet_Hotel_Service</servlet-name>
        <url-pattern>/NotYet_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHotelRoomServlet</servlet-name>
        <url-pattern>/UpdateHotelRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHotelInformationServlet</servlet-name>
        <url-pattern>/UpdateHotelInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHotelBedServlet</servlet-name>
        <url-pattern>/UpdateHotelBedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOfflineBookingServlet</servlet-name>
        <url-pattern>/InsertOfflineBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_BookingHistoryBillDetailServlet</servlet-name>
        <url-pattern>/HotelHost_BookingHistoryBillDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_BookingHistoryBillServlet</servlet-name>
        <url-pattern>/HotelHost_BookingHistoryBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_FeedbackServlet</servlet-name>
        <url-pattern>/HotelHost_FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoardServlet</servlet-name>
        <url-pattern>/AdminDashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackReservationIDServlet</servlet-name>
        <url-pattern>/ViewFeedbackReservationIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAcceptPendingServlet</servlet-name>
        <url-pattern>/AdminAcceptPendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImageRoom</servlet-name>
        <url-pattern>/UpdateImageRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportFeedbackServlet</servlet-name>
        <url-pattern>/ReportFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ViewReportFeedback</servlet-name>
        <url-pattern>/Admin_ViewReportFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ViewReportFeedbackDetail</servlet-name>
        <url-pattern>/Admin_ViewReportFeedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHotelPartnerServlet</servlet-name>
        <url-pattern>/AdminHotelPartnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomerListServlet</servlet-name>
        <url-pattern>/AdminCustomerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomerInformationServlet</servlet-name>
        <url-pattern>/AdminCustomerInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHotelInformationServlet</servlet-name>
        <url-pattern>/AdminHotelInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_BookingScheduleServlet</servlet-name>
        <url-pattern>/HotelHost_BookingScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_SearchAvailableServlet</servlet-name>
        <url-pattern>/HotelHost_SearchAvailableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLockCustomerServlet</servlet-name>
        <url-pattern>/AdminLockCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_UpdateHotelServlet</servlet-name>
        <url-pattern>/HotelHost_UpdateHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_DeleteHotelServlet</servlet-name>
        <url-pattern>/HotelHost_DeleteHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_ViewHotelImgServlet</servlet-name>
        <url-pattern>/HotelHost_ViewHotelImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_DeleteHotelImageServlet</servlet-name>
        <url-pattern>/HotelHost_DeleteHotelImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_AddHotelServlet</servlet-name>
        <url-pattern>/HotelHost_AddHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLockHotelServlet</servlet-name>
        <url-pattern>/AdminLockHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeHotelHostServlet</servlet-name>
        <url-pattern>/homeHotelHostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_ViewHotelInformationServlet</servlet-name>
        <url-pattern>/HotelHost_ViewHotelInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMonthlyPaymentServlet</servlet-name>
        <url-pattern>/AdminMonthlyPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHostMonthlyPaymentServlet</servlet-name>
        <url-pattern>/HotelHostMonthlyPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_DeleteRoomImageServlet</servlet-name>
        <url-pattern>/HotelHost_DeleteRoomImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelHost_AddWardServlet</servlet-name>
        <url-pattern>/HotelHost_AddWardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRefundingReservationServlet</servlet-name>
        <url-pattern>/AdminRefundingReservationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
