<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UploadImageAvatar</servlet-name>
        <servlet-class>com.travelink.Servlet.UploadImageAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatar</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountPasswordServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ChangeAccountPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>com.travelink.Servlet.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccountServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.LoginAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewHotelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHotelServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.SearchHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotelDetailServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewHotelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotel</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoom</servlet-name>
        <servlet-class>com.travelink.Servlet.ViewRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.Cancel_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotPaid_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.NotPaid_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paid_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.Paid_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All_Hotel_Service</servlet-name>
        <servlet-class>com.travelink.Servlet.All_Hotel_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFavoriteHotel</servlet-name>
        <servlet-class>com.travelink.Servlet.ListFavoriteHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionServlet</servlet-name>
        <servlet-class>com.travelink.Servlet.PromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageAvatar</servlet-name>
        <url-pattern>/UploadImageAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatar</servlet-name>
        <url-pattern>/UpdateAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountPasswordServlet</servlet-name>
        <url-pattern>/ChangeAccountPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/RegisterAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccountServlet</servlet-name>
        <url-pattern>/LoginAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHotelServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHotelDetailServlet</servlet-name>
        <url-pattern>/viewHotelDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHotel</servlet-name>
        <url-pattern>/viewHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoom</servlet-name>
        <url-pattern>/viewRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_Hotel_Service</servlet-name>
        <url-pattern>/Cancel_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotPaid_Hotel_Service</servlet-name>
        <url-pattern>/NotPaid_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paid_Hotel_Service</servlet-name>
        <url-pattern>/Paid_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All_Hotel_Service</servlet-name>
        <url-pattern>/All_Hotel_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFavoriteHotel</servlet-name>
        <url-pattern>/ListFavoriteHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionServlet</servlet-name>
        <url-pattern>/PromotionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
