@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    background-image: url("../img_Form/banner.jpg");
    background-size: cover; /* Ảnh sẽ được kéo căng để phủ toàn bộ kích thước của container */
    background-position: center; /* Căn giữa ảnh */
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 5px 0;
}

a:hover{
    color: #3c97bf;
    transition: 0.6s ease;
}

/* CSS cho button close */
.close-form-button {
    position: absolute;
    top: -5px;
    right: -20px;
    cursor: pointer;
    background: none;
    border: none;
}

.close-icon {
    font-size: 20px;
    color: #ccc;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #000;
}

/* CSS cho button thông thường */
button {
    border-radius: 20px;
    border: 1px solid #2b8eff;
    background-color: #2b8eff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.ghost:hover{
    background-color: #FFFFFF;
    color: black;
    transition: 0.8s ease;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
/* CSS input */
input {
    background-color: #ffffff;
    border: 0.5px solid black;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    transition: 0.25s ease;
}
.input-row:focus {
    background-color: white;
}

.form-input {
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    height: 37px;
    padding: 0 50px;
    transition: 0.25s ease;
  }
  
  .form-field {
    position: relative;
  }
  
  .form-input:focus{
    border-color: #3c97bf;
  }
  
  .form-label {
    position: absolute;
    top: 50%;
    left: 21.5px;
    transform: translateY(-50%);
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
    font-size: 15px;
  }
  
  
  .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    top: 0;
    font-size: 12px;
    display: inline-block;
    background-color: white;
    color:#3c97bf;
  }
  

  /* .form-input:focus + .form-label {
    top: 5px;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color:#3c97bf;
  } */



.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    /* Mới thêm */
    transition: height 0.3s ease;
    /* Thêm transition cho height */
    z-index: 2;
    /* Đè lên overlay có z-index = 1 */
    display: block;
    height: 580px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    position: relative;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
/* mới thêm */
.form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.container.left-panel-active {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #200f0f, #200f0f);
    background: linear-gradient(to right, #200f0f, #200f0f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

/* Mới thêm */
.overlay-left, .overlay-right {
    background-image: url("../img_Form/banner_small.jpg");
    background-size: cover; /* Ảnh sẽ được kéo căng để phủ toàn bộ kích thước của container */
    background-position: center; /* Căn giữa ảnh */
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* login-way -> text-login là của 2 thẻ đăng nhập fb và gmail */
.login-way {
    width: 100%;
}

.login-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.icon-text-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.icon-text-container:hover {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng đổ */
}

.text-login {
    color: #1176a1;
    text-align: end;
    font-size: 15px;
}

.text-login:hover{
    transition: 0.6s ease;
    color: black;
}

.btn-login {
    margin-top: 10px;
}

.text-rule {
    color: #02648f;
    text-decoration: none;
}

/* Mới thêm */
#overlayBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền với độ mờ */
    z-index: 1;
}

#container {
    display: none;
    position: fixed;
    bottom: -100%; /* Bottom: -100% để cho cotainer đứng ngoài màn hình */
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transition: bottom 0.7s ease-out, transform 0.7s ease-out;
    /* Thêm transition cho bottom và transform */
}

/* Trạng thái hiển thị của form */
#container.show {
    bottom: 50%;
    /* Di chuyển lên giữa màn hình */
    transform: translate(-50%, 50%);
}

.forgot-pass {
    color: black;
}
.forgot-pass:hover{
    color: #3c97bf;
}
.form-button{
    max-width: 300px;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 3px solid rgb(100, 99, 99);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

}
.form-button:hover{
    background-color: #02648f;
    color: white;
    border: 3px solid white;
    transition: 0.8s ease;
}
/* Style for the missing-container 
.missing-container {
    margin-top: 10px;  Adjust as needed 
    text-align: center;  Center align the content 
    color: red;  Set text color to red or any preferred color 
}

 Style for the missing-msg paragraph 
.missing-msg {
    font-size: 14px;  Adjust font size 
    font-style: italic;  Optionally italicize the text 
    margin-bottom: 5px;  Adjust spacing between paragraphs 
}*/
/* Mới Thêm */
.contain-row {
    display: flex;

}
.div-form-button {
    margin-right: 20px;
}
.contain-p {
    width: 900px;
}
.total-header {
    margin-left: -300px;
}
.contain-a-button {
    position: fixed; /* Vị trí cố định trên màn hình */
    top: 20px; /* Khoảng cách từ đỉnh màn hình xuống */
    left: 20px; /* Khoảng cách từ bên trái màn hình sang phải */
    z-index: 1000; /* Độ sâu của phần tử trên màn hình */
}

.a-button {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.a-button:hover {
    color: rgb(48, 48, 216);
}

.fa-arrow-left {
    margin-right: 5px;
}


.form-field {
    position: relative;
}

.form-field .toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* Điều chỉnh khoảng cách từ phía bên phải */
    cursor: pointer;
}